.navbar>.container-fluid{
  background-color: #895D3B;
}


.navbar{
  padding: 0;
}


li a{
color: white;
}


li a:hover{
  color: #95CE33;
  }



@media screen and (max-width:600px){

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 140px;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
  }

 /*  .navbar-toggler-icon{
    color: white !important;
  }
 */

  img{
    width: 100px;
  }


.navbar-toggler{
    border:none;
   /*  background-color: rgba(255, 255, 255, 0.87) !important;
 */
  }

  .navbar-toggler{
    background-color: transparent;
    box-shadow:none;
  }

  }


  @media screen and (min-width:600px){

    .navbar-nav {
 /*  --bs-nav-link-padding-x: 0;
      --bs-nav-link-padding-y: 0.5rem;
      --bs-nav-link-font-weight: ; */

      display: flex;

      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      margin: 0px 0px 0px 0px;
  }



  }
