<header class="sticky-header">
  <a class="navbar-brand" href="#"><img src="assets/img/Capturasv.PNG" alt=""></a>
  <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
  <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
      <ul class="nav-list">
          <li >
              <a class="boton-menu boton-carrito" href="carrito">
                  <i class="bi bi-cart-fill"></i>  <span id="numerito" class="numerito">0</span>
              </a>
          </li>
          <li><a href="servicios">Servicios</a></li>
          <li><a href="conocenos">Conocenos</a></li>
          <li><a href="blog">Blog</a></li>



      </ul>
  </nav>
</header>


