footer{
  background-color: #895D3B;
  text-align: center;
  color: white;
  height: 200px;
  font-size: 15px;
}

footer h3{
  padding: 40px 0px 0px 0px;
}

.icono{
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
  margin-left: 15px;
  font-size: 30px;
}
