<app-header></app-header>
<h4 class="font1">Sobre mi:</h4>
<div class="container">

  <div class="caja1">
    <p>Blissful Sadhana es una comunidad de autoconocimiento, nutrida e inspirada por las sabidurías de Yoga, Ayurveda y Jyotish (astrología védica). Con el anhelo de compartir aquello que ha sido bálsamo y sanación en mi camino personal, se gesta un espacio donde a través de encuentros pedagógicos, se promueven herramientas y prácticas concretas para nuestros retos y vivencias en el día a día.

      Mi nombre es Silvia González, me forme como Educadora. Hace ya unos seis (06) años que inicié mi camino en Ayurveda ejerciendo como terapeuta corporal y también como educadora en salud ayurveda.</p>
  </div>

  <div>
    <img src="https://reqres.in/img/faces/7-image.jpg" alt="">
  </div>


  <div class="caja">
    <p>El yoga llego a mi vida hace cuatro (04) años como poderosa medicina y una continua fuente de conexión con mi Ser y con la vida. Soy practicante de Yoga bajo las tradiciones Satyananda Yoga y Hatha Radja Yoga; en ésta última, realice mi formación de profesores en Hatha Radja. He sido aprendiz constante de Jyotish (astrología védica) y he explorado su potencial terapéutico de la mano del ayurveda, lo que ha dado origen a las mentorías personalizadas que ahora les ofrezco.

      Estoy muy emocionada de esta nueva etapa en Blissful Sadhana y honrada de tener la oportunidad de compartir con todos ustedes lo que necesito aprender ¡Si, leíste bien! Pues el impulso genuino de enseñar, nace de la consciencia de que solo siendo un constante aprendiz se puede profundizar y transformar el conocimiento de estas ciencias milenarias, en sabiduría viva al servicio de todo aquel que sienta el llamado a reconectar con su Ser, con la salud y el balance en sus vidas.
      </p>
  </div>

</div>












<app-footer></app-footer>
