<app-header></app-header>
<h4 class="font1">Sobre mi:</h4>
<div class="container">

  <div class="caja1">
    <p>Wag tiene un diseño sencillo en su página «Sobre nosotros», con una imagen principal con una mujer y su perro, un titular, una breve descripción y una llamada a la acción que pide a los espectadores que «conozcan a nuestros líderes» Se trata de un enfoque sencillo que ofrece al consumidor todo lo que necesita para comprender los aspectos básicos de la empresa.

      La página «Sobre nosotros» de Wag es un recordatorio eficaz de que no tienes que exagerar el contenido de tu página «Sobre nosotros». En su lugar, concéntrate en dar una visión general de alto nivel de tu empresa y en destacar unos pocos puntos clave.</p>
  </div>

  <div>
    <img src="https://reqres.in/img/faces/7-image.jpg" alt="">
  </div>


  <div class="caja">
    <p>Wag tiene un diseño sencillo en su página «Sobre nosotros», con una imagen principal con una mujer y su perro, un titular, una breve descripción y una llamada a la acción que pide a los espectadores que «conozcan a nuestros líderes» Se trata de un enfoque sencillo que ofrece al consumidor todo lo que necesita para comprender los aspectos básicos de la empresa.

      La página «Sobre nosotros» de Wag es un recordatorio eficaz de que no tienes que exagerar el contenido de tu página «Sobre nosotros». En su lugar, concéntrate en dar una visión general de alto nivel de tu empresa y en destacar unos pocos puntos clave.</p>
  </div>

</div>












<app-footer></app-footer>
