<swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
    [pagination]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide
      ><div class="card-container1">
        <div>
          <a href="">
          <img src="" alt="">
          </a>
          <h3 class="boton" style="margin-top:80px;">BROWSE SUITS</h3>
          <div class="social">
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-regular fa-star"></i></a>
         </div>
        </div>
        <div>
          <p>
             "With the custom fitting  options, I finally found a
              suit that fits comfortably!
              Great material too!"
          </p>

        </div>
        </div></ng-template
    ><ng-template swiperSlide
      ><div class="card-container1">
        <div>
          <a href="">
          <img src="" alt="">
          </a>
          <h3 class="boton" style="margin-top:80px;">BROWSE SUITS</h3>
          <div class="social">
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-regular fa-star"></i></a>
            <a href=""><i class="fa-regular fa-star"></i></a>
         </div>
        </div>
        <div>
          <p>
             "With the custom fitting  options, I finally found a
              suit that fits comfortably!
              Great material too!"
          </p>

        </div>
        </div></ng-template
    ><ng-template swiperSlide
      ><div class="card-container1">
        <div>
          <a href="">
          <img src="" alt="">
          </a>
          <h3 class="boton" style="margin-top:80px;">BROWSE SUITS</h3>
          <div class="social">
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
         </div>
        </div>
        <div>
          <p>
             "With the custom fitting  options, I finally found a
              suit that fits comfortably!
              Great material too!"
          </p>

        </div>
        </div></ng-template
    ><ng-template swiperSlide
      ><div class="card-container1">
        <div>
          <a href="">
          <img src="" alt="">
          </a>
          <h3 class="boton" style="margin-top:80px;">BROWSE SUITS</h3>
          <div class="social">
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-regular fa-star"></i></a>
            <a href=""><i class="fa-regular fa-star"></i></a>
         </div>
        </div>
        <div>
          <p>
             "With the custom fitting  options, I finally found a
              suit that fits comfortably!
              Great material too!"
          </p>

        </div>
        </div></ng-template
    ><ng-template swiperSlide
      ><div class="card-container1">
        <div>
          <a href="">
          <img src="" alt="">
          </a>
          <h3 class="boton" style="margin-top:80px;">BROWSE SUITS</h3>
          <div class="social">
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-regular fa-star"></i></a>
         </div>
        </div>
        <div>
          <p>
             "With the custom fitting  options, I finally found a
              suit that fits comfortably!
              Great material too!"
          </p>

        </div>
        </div></ng-template
    ><ng-template swiperSlide
      ><div class="card-container1">
        <div>
          <a href="">
          <img src="" alt="">
          </a>
          <h3 class="boton" style="margin-top:80px;">BROWSE SUITS</h3>
          <div class="social">
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
            <a href=""><i class="fa-solid fa-star"></i></a>
         </div>
        </div>
        <div>
          <p>
             "With the custom fitting  options, I finally found a
              suit that fits comfortably!
              Great material too!"
          </p>

        </div>
        </div></ng-template>
  </swiper>

