  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <img src="assets/img/carrusel1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5>Mentoría 1:1 de Ayurveda y Jyotish</h5>
          <p>Para promover la salud y el balance en nuestras vidas.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <img src="assets/img/carrusel2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5>Talleres y grupos de estudio</h5>
          <p>Para explorar e integrar las sabidurías del Yoga, Ayurveda y Jyotish en nuestra cotidianidad.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <img src="assets/img/carrusel3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5>Clases de Yoga Integral</h5>
          <p>Para practicar en comunidad desde tu hogar o presencial en la Sabana de Bogotá.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
