<app-header></app-header>

<div class="sec-img">
  <img src="assets/img/carrusel1.jpg" alt="">
</div>

<main>

  <h2 class="titulo-principal" id="titulo-principal">Todos los productos</h2>
  <div id="contenedor-productos" class="contenedor-productos">
      <!-- Esto se va a rellenar con JS -->
  </div>
</main>

<div class="division">
  <div >
    <hr>
  </div>
  <div>
   <a href=""><i class="icono fa-solid fa-spa"></i></a>
  </div>
  <div>
    <hr>
  </div>
</div>

<app-tarjetas></app-tarjetas>






<app-footer></app-footer>
