<app-header></app-header>

<div class="sec-img">
  <img src="assets/img/carrusel1.jpg" alt="">
</div>

<main>
  <h2 class="titulo-principal" id="titulo-principal">Todos los productos</h2>
  <div id="contenedor-productos" class="contenedor-productos">
      <!-- Esto se va a rellenar con JS -->
  </div>
</main>

<div class="division">
  <div >
    <hr>
  </div>
  <div>
   <a href=""><i class="icono fa-solid fa-spa"></i></a>
  </div>
  <div>
    <hr>
  </div>
</div>

<app-tarjetas></app-tarjetas>




<!-- <div class="grid">
  <div class="caja1 ">
       <p>El yoga es el arte unificador de transformar el dharma en acción, ya sea a través de pensamiento inspirado, nutrir adecuadamente a nuestros hijos, una pintura, amabilidad o un acto de paz que siempre mueve la humanidad hacia delante.</p>
      <br><br>
       <h6>Micheline Berry</h6>
  </div>
  <div class="caja">
    <img src="../../../assets/img/yogam1.jpg" alt="">
  </div>
</div> -->

<app-footer></app-footer>
