<h4 class="font1">Ofrecemos para ti:</h4>

<div class="grid">
<div class="card-container1">
<div>
  <a href="">
  <img src="assets/img/TARJETA_1.jpg" alt="">
  </a>
  <a href=""><h6 class="boton">Mentoría 1:1 Ayurveda y Jyotish</h6></a>
</div>
<div>
  <p>
    En nuestra mentoría obtendrás una mayor comprensión de tu constitución ayurvédica y como traer balance a tus ritmos y rutinas de vida; mientras la sabiduría del Jyostish te brinda claridad y guía para comprender y trascender tus procesos karmáticos (grandes líneas maestras de aprendizaje).
  </p>

</div>
</div>

<div class="card-container1">
  <div>
    <a href="">
    <img src="assets/img/TARJETA_2.jpg" alt="">
    </a>
    <a href=""><h6 class="boton">Taller Auto-masaje Ayurvédico</h6></a>
  </div>
  <div>
    <p>
    Una forma de conectar con la suavidad, autocuidado y reconocimiento de nuestras necesidades, no solo físicas sino emocionales. Aprenderás a identificar tu constitución ayurvédica y preparar tus aceites herbales, aprenderás la técnica de masaje de acuerdo a tus necesidades y crearás un vínculo amoroso contigo misma(o).
    </p>

  </div>
  </div>

  <div class="card-container1">
    <div>
      <a href="">
      <img src="assets/img/TARJETA_3.jpg" alt="">
      </a>
      <a href=""><h6 class="boton">Taller Fundamentos de Ayurveda y Jyotish</h6></a>
    </div>
    <div>
      <p>
       Exploraremos los fundamentos filosóficos y de manera práctica aprenderás a identificar tu constitución (Prakruti) y posibles desequilibrios (Vikruti), tus tendencias psico-emocionales (otorgadas por la posición de tu Luna natal) y como armonizar las líneas de aprendizajes kármicos (Nodos Lunares).
      </p>

    </div>
    </div>

    <div class="card-container1">
      <div>
        <a href="">
        <img src="assets/img/TARJETA_4.jpg" alt="">
        </a>
        <a href=""><h6 class="boton">Grupo de Estudio: El Tallador de Diamantes</h6></a>
      </div>
      <div>
        <p>
          Doce (12) semanas pensadas para profundizar en la sabiduría milenaria del Tallador de Diamantes y Dirección Karmica. Un enfoque innovador sobre la manera de conducirnos en la vida y en nuestros proyectos, a través de la comprensión de las leyes del Karma y su aplicación práctica. Trabajaremos en conjunto para limpiar el jardín en nuestras mentes y sembrar semillas de éxito, abundancia y generosidad.
        </p>

      </div>
      </div>

      <div class="card-container1">
        <div>
          <a href="">
          <img src="assets/img/TARJETA_5.jpg" alt="">
          </a>
          <a href=""><h6 class="boton">Grupo de Estudio: Bhagavad Gita</h6></a>
        </div>
        <div>
          <p>
            Doce (12) semanas para tejer en comunidad una mayor comprensión sobre la filosofía del Bhagavad Gita y su aplicación práctica en nuestras vidas. Una práctica espiritual profunda y hermosa para ir al encuentro de la esencia del Yoga e impregnar nuestro día a día de esta sabiduría.
          </p>

        </div>
        </div>

        <div class="card-container1">
          <div>
            <a href="">
            <img src="assets/img/TARJETA_6.jpg" alt="">
            </a>
            <a href=""><h6 class="boton">Clases de Yoga </h6></a>
          </div>
          <div>
            <p>
              Un enfoque integral en la práctica de Yoga que te permitirá entrar en contacto con tu Ser esencial. Puedes elegir practicar en comunidad los días jueves y sábados en el formato online o presencial en los pueblos de la Sabana de Bogotá.
            </p>

          </div>
          </div>


</div>
