<app-header></app-header>

<h3 class="font1">Blissful Sadhana es una comunidad de auto-conocimiento, nutrida e inspirada <br> por las sabidurías del Yoga, Ayurveda y Jyotish.</h3>


<app-slider></app-slider>

<app-servicios></app-servicios>

<div class="division">
  <div >
    <hr>
  </div>
  <div>
   <a href=""><i class="icono fa-solid fa-spa"></i></a>
  </div>
  <div>
    <hr>
  </div>
</div>

<div class="grid">
  <div class="caja1 ">
       <p>”En la Tierra no existe persona alguna que no se beneficie del Yoga porque no hay alma en la Tierra que no quiera ser feliz. La verdadera educación está en la práctica del yoga. El yoga permite desarrollar, de manera armónica, el cuerpo, la mente, el corazón, la voluntad y el espíritu.”</p>
      <br><br>
       <h6>
       <b> Swami Sivananda Saraswati </b></h6>
       <h6>Hari Om Tat Sat </h6>
  </div>
  <div class="caja">
    <img src="assets/img/FRASE FINAL HOME.jpg" alt="">
  </div>
</div>



<app-footer></app-footer>




